body{
    background-color: black;
}

.navbar{
    height:80px;
    background-color:transparent;
    display:flex;
    align-items:center;

}
.icon{
    margin-left:25px;
}

.icon i{
  font-size:25px;
  color:white;
}
.image{
    margin-left:25px;
}
.search{
 margin-left:300px;
}
.search input{
    height:35px;
    width:500px;
    background-color:transparent;
    border:1px solid white;
    opacity:0.5;
    border-radius:30px;
    padding-left:20px;
}
.search input::placeholder{
    color:white;
}
.mic{
    margin-left:20px;
}
.mic i{
    color:white;
    height:40px;
    width:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: rgb(76, 75, 75);
    border-radius:50%;
    font-size:20px;

}

.creat{
    margin-left:280px;
}
.creat i{
    color:white;
    font-size:22px;
}
.bell{
    margin-left:20px;

}
.bell i{
    color: white;
    font-size: 22px;
}
.user{
    margin-left:20px;

}
.user a{
    color: white;
    height:40px;
    width:40px;
    border-radius: 50px;
    background-color: rgb(76, 75, 75);
    display:flex;
    justify-content: center;
    align-items:center
}

.slidebar{
    height:100vh;
    width:200px;
    background-color: transparent;
    padding-left: 25px;
    margin-top: 20px;
    overflow:auto;

}

.home a{
    color:white;
    text-decoration: none;
    margin-left: 25px;
}
.home i{
    color:white;
    font-size: 20px;
}
.shorts{
    margin-top: 25px;
}
.shorts i{
   color:white;
   font-size: 20px;
}
.shorts a{
    color:white;
    text-decoration: none;
    margin-left: 25px;
}

.subscription{
    margin-top: 25px;
}
.subscription i{
   color:white;
   font-size: 20px;
}
.subscription a{
    color:white;
    text-decoration: none;
    margin-left: 25px;
}
.line{
    height:2px;
    width:200px;
    background-color: white;
    margin-top: 25px;
    opacity: 0.5;
}

.you{
    margin-top: 25px;
}
.you i{
   color:white;
   margin-left: 10px;
}
.you a{
    color:white;
    text-decoration: none;
   font-size: 18px;
}

.channel{
    margin-top: 20px;
}
.channel i{
   color:white;
   height:15px;
   width: 15px;
   border:2px solid white;
}
.channel a{
    color:white;
    text-decoration: none;
    margin-left: 25px;
}

.history{
    margin-top: 20px;
}
.history i{
   color:white;
   font-size: 20px;
}
.history a{
    color:white;
    text-decoration: none;
    margin-left: 25px;
}
.video{
    margin-top: 25px;
}
.video i{
   color:white;
   font-size: 20px;
}
.video a{
    color:white;
    text-decoration: none;
    margin-left: 25px;
}
.watch-later{
    margin-top: 20px;
}
.watch-later i{
   color:white;
   font-size: 20px;
}
.watch-later a{
    color:white;
    text-decoration: none;
    margin-left: 25px;
}

.down{
    margin-top: 20px;
}
.down i{
   color:white;
   font-size: 20px;
}
.down a{
    color:white;
    text-decoration: none;
    margin-left: 25px;
}
 .subs{
    margin-top: 20px;
 }
 .subs a{
    color:white;
    text-decoration: none;
 }
.upsc{
    margin-top: 20px;
}
.upsc i{
   color:white;
}
.upsc a{
    color:white;
    text-decoration: none;
    margin-left: 25px;
}

.explore{
    margin-top: 20px;
}

.explore a{
    color:white;
    text-decoration: none;
  
}
.trending{
    margin-top: 20px;
}
.trending i{
   color:white;
}
.trending a{
    color:white;
    text-decoration: none;
    margin-left: 25px;
}

.setting{
    margin-top: 20px;
}
.setting i{
   color:white;
}
.setting a{
    color:white;
    text-decoration: none;
    margin-left: 25px;
}

.desc{
color: white;
font-size: 15px;
margin-top:20px;
opacity: 0.7;
}

.desc a{
    color:white;
    text-decoration: none;
    opacity: 0.5;
    font-size:10px;
}

.button {
    color: #ffffff; /* Light text color */
}

.line-1 button{
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 6px;
     padding-bottom: 6px;
     border-radius:10px;
     background-color: rgb(56,50,50) ;
     color:white;
     border:none;
}
.main-container{
   margin-left:240px;
   margin-top:-750px;
}
.chip-wrapper{
    display:flex;
}
.chip p{
    margin:12px 12px 0px 0px ;
    background-color: #373737;
    padding:1px 12px 1px 12px;
    border: 1px solid rgb(255,255,255,0.1);
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
    color:#fff;
    transition: .5s;
}

.line2{
height:350px;
width:1200px;
display: flex;
margin-top: 30px;
}

.box1{
   
}
.box1 img{
   height:300px;
   width:400px;
   border-radius:10px;
   display:flex;
   margin:15px;
}

#toggle {
    cursor: pointer;
  }
  
  .youtube-bar {
    display: none;
    /* Additional styling for your YouTube toggle bar */
    background-color: #f1f1f1;
    padding: 10px;
    position: absolute;
    top: 30px;
    right: 0;
    border: 1px solid #ddd;
  }

  .navbar1{
    background-color: white;
  }


  .profile-container {
    position: relative;
    color: white;
  }
  
  .user {
    cursor: pointer;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    top: 30px; /* Adjust as needed */
    right: 0;
    background-color: #333; /* Dark grey background color */
    border: 1px solid #555; /* Darker border color */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {
    background-color: #555;
  }
  
  /* Show dropdown on click */
  .dropdown.active {
    display: block;
  }


  .menu{
    background:lightgrey;
    color:white;
    padding:10px;
  }

  .display-picture{
    margin-left: auto;
  }
  .display-picture img{
    width: 50px;
    border-radius: 50%;
    border:2px solid #fff;
  }
  .display-picture img:hover{
  border:2px solid #E78341;
  }
  .card{
    transition: 0.5s ease;
  }
  
  .card ul{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background: #E78341;
    position: absolute;
    top: 4rem;
    right:0rem;
  border-radius: 10px;
  padding: 10px 50px 10px 20px;
  }
  .card ul li{
   
    padding: 5px 0;
    color: #FFF;
    font-size: 14px;
  }
  .hidden{
    display: none;
  }
  a{
    text-decoration: none;
    color:#fff;
  }
  