<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
</head>

<body>
    <div class="header">
        <div class="navbar">
          <div class="icon">
            <i class="fa-solid fa-bars"></i>
          </div>
          <div class="image">
            <img src="./assets/logo1.png" height="70px" width="95px">;
          </div>
          <div class="search">
            <input id="s1" placeholder="Search">
          </div>
          <div class="mic">
            <i class="fa-solid fa-microphone"></i>
          </div>
          <div class="creat">
            <i class="fa-solid fa-video"></i>
          </div>
          <div class="bell">
            <i class ="fa-solid fa-bell"></i>
          </div>
          <div class="user" >
            <a routerLink="setting" class="display-picture" #displayPicture ><img src="https://i.pravatar.cc/85" alt=""></a>
          </div>
          <div class="card hidden"><!--ADD TOGGLE HIDDEN CLASS ATTRIBUTE HERE-->
            <ul><!--MENU-->
              <li><a href="#">Profile</a></li>
              <li><a href="#">Account</a></li>
              <li><a href="#">Settings</a></li>
              <li><a href="#">Log Out</a></li>
            </ul>
          </div>
          </div>
    </div>
    <div class="main">
        <div class="slidebar">
            <div class="home">
                <i class="fa-solid fa-house"></i>
                <a href="#">Home</a>
            </div>
            <div class="shorts">
                <i class="fa-solid fa-music"></i>
                <a routerLink="setting">Shorts</a>
            </div>
            <div class="subscription">
                <i class="fa-brands fa-youtube"></i>
                <a href="#" >subscription</a>
            </div>
           <div class="line"></div>
           <div class="you">
                <a href="#">You</a>
                <i class="fa-solid fa-chevron-right"></i>
           </div>
           <div class="channel">
                <i class="fa-regular fa-user"></i>
                <a href="#">Your Channel</a>
            </div>
            <div class="history">
                <i class="fa-solid fa-clock-rotate-left"></i>
                <a href="#">History</a>
            </div>
            <div class="video">
                <i class="fa-solid fa-video"></i>
                <a href="#">Your video</a>
            </div>
            <div class="watch-later">
                <i class="fa-regular fa-clock"></i>
                <a href="#">Watch later</a>
            </div>
            <div class="down">
                <i class="fa-solid fa-chevron-right"></i>
                <a href="#">Show more</a>
            </div>
            <div class="line"></div>
            <div class="subs">
                <a href="#">subscription</a>
            </div>
            <div class="upsc">
                <i class="fa-solid fa-user"></i>
                <a href="#">Let's Crack UPSC</a>
            </div>
            <div class="upsc">
                <i class="fa-solid fa-user"></i>
                <a href="#">CareerPoint4U</a>
            </div>
            <div class="upsc">
                <i class="fa-solid fa-user"></i>
                <a href="#">Anaysa Shorts</a>
            </div>
            <div class="upsc">
                <i class="fa-solid fa-user"></i>
                <a href="#">TOMORROW X</a>
            </div>
            <div class="line"></div>
            <div class="explore">
                <a href="#">Explore</a>
            </div>
            <div class="trending">
                <i class="fa-solid fa-fire"></i>
                <a href="#">Trending</a>
            </div>
            <div class="trending">
                <i class="fa-solid fa-cart-shopping"></i>
                <a href="#">Shopping</a>
            </div>
            <div class="trending">
                <i class="fa-solid fa-music"></i>
                <a href="#">Music</a>
            </div>
            <div class="trending">
                <i class="fa-solid fa-film"></i>
                <a href="#">Films</a>
            </div>
            <div class="trending">
                <i class="fa-solid fa-life-ring"></i>
                <a href="#">Live</a>
            </div>
            <div class="trending">
                <i class="fa-solid fa-headset"></i>
                <a href="#">Gaming</a>
            </div>
            <div class="line"></div>
            <div class="setting">
                <i class="fa-solid fa-gear"></i>
                <a href="#">Setting</a>
            </div>
            <div class="setting">
                <i class="fa-solid fa-flag"></i>
                <a href="#">Report history</a>
            </div>
            <div class="setting">
                <i class="fa-solid fa-circle-info"></i>
                <a href="#">Help</a>
            </div>
            <div class="setting">
                <i class="fa-solid fa-message"></i>
                <a href="#">Send Feedback</a>
            </div>
            <div class="line"></div>
            <div class="desc">
                About press Copyright
                <br>
                Contact us creator Developers
                <br>
                <br>
                Terms Privacy Policy & Safety
                <br>
                How Youtube works
                <br>
                Text new features
                <br>
                <br>
               <a href="#">  2024 Google LLc</a>
            </div>
        </div> 
  </div>
        <div class="main-container">
          <div class="chip-wrapper">
            <div class="chip">
                <p>All</p>
            </div>
            <div class="chip">
                <p>Music</p>
            </div>
            <div class="chip">
                <p>Tarrak Mehta ka Ooltah Chas...</p>
            </div>
            <div class="chip">
                <p>Bolloywood Music</p>
            </div>
            <div class="chip">
                <p>Gaming</p>
            </div>
            <div class="chip">
                <p>Game shows</p>
            </div>
            <div class="chip">
                <p>Live</p>
            </div>
            <div class="chip">
                <p>Siddhart</p>
            </div>
            <div class="chip">
                <p>Javascript</p>
            </div>
            <div class="chip">
                <p>Indian pop music</p>
            </div>
            <div class="chip">
                <p>HTML</p>
            </div>
          </div>

          <div class="line2">
          <div class="box1">
            <img src="./assets/ias.png" alt="Girl in a jacket">
          </div>
          <div class="box1">
            <img src="./assets/academy.png" alt="Girl in a jacket">
          </div>
          <div class="box1">
            <img src="./assets/ias.png" alt="Girl in a jacket">
          </div>
          </div>

          <div class="line2">
            <div class="box1">
                <img src="./assets/ias.png" alt="Girl in a jacket">
              </div>
              <div class="box1">
                <img src="./assets/academy.png" alt="Girl in a jacket">
              </div>
              <div class="box1">
                <img src="./assets/ias.png" alt="Girl in a jacket">
              </div>
        </div>
        </div>      
</body>